<header class="mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <nav class="navbar bg-dark rounded d-flex justify-content-center centered-nav">
        <div class="container-fluid justify-content-center p-3">

          <a class="navbar-brand d-start" href="/" style="margin-right: 10px;">
            <img class="nav-Icon" width="40" height="40" src="/images/open-book.png">
          </a>

          <a class="nav-LINK icon-link icon-link-hover link-primary link-underline-primary link-underline-opacity-25 me-2 px-2" type="button" href="/" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class='bx bx-home bi' aria-hidden="true" style="font-size: 14px; "></i><strong>Dashboard</strong>
          </a>

          <a class="nav-LINK icon-link icon-link-hover link-warning link-underline-warning link-underline-opacity-25 me-2 px-2" type="button" href="/authors" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class='bx bxs-contact bi' aria-hidden="true" style="font-size: 14px;"></i><strong>Authors</strong>
          </a>

          <a class="nav-LINK icon-link icon-link-hover link-success link-underline-success link-underline-opacity-25 me-2 px-2" type="button" href="/authors/new" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class='bx bx-user-plus bi' aria-hidden="true" style="font-size: 14px;"></i>
            <strong>Add Author</strong>
          </a>

          <a class="nav-LINK icon-link icon-link-hover link-info link-underline-info link-underline-opacity-25 me-2 px-2" type="button" href="/books" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class='bx bx-book bi' aria-hidden="true" style="font-size: 14px;"></i><strong>Books</strong>
          </a>

          <a class="nav-LINK icon-link icon-link-hover link-secondary link-underline-secondary link-underline-opacity-25 me-2 px-2" type="button" href="/books/new" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class='bx bxs-book-add bi' aria-hidden="true" style="font-size: 14px;"></i>
            <strong>Add Book</strong>
          </a>

        </div>
      </nav>

    </div>
  </div>
</header>