<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/vustron2.png">
  <title>Vustron's Library</title>
  <!-- PlugIns -->
  <%- include('../plugins/plugins.ejs') %>
  <!-- PlugIns -->
</head>

<body class="bg-secondary">

  <div class="container">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <div class="row justify-content-center mt-2">
      <div class="col-lg-8">
        <div class="container-fluid bg-dark p-5 rounded ">
          <main><%- body %></main>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </div>

</body>

</html>